.todo-item{
  width: 70%;
  border:1px solid #111;
  border-radius: 4px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
  position: relative;
  top: -8px;
  margin: 0 auto;
  
}
